

<!--<form class="container formevent">
	<%= form_tag url_for(action: 'create'), method: "post" do %>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Date</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pense à mettre une date dans le futur! :)"> <%= text_field_tag 'title' %>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Durée</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Un peu de calcul: ta durée en minutes et multiples de 5!">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Titre</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Titre de ton event">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Description</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Décris un max ton event!" rows="3"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Price</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Entre 1 et 1000 euros!">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Location</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ta place to be!!">
	  </div>
	  <div class="button">
			<a class="btn btn-warning btn-lg" <%= link_to "Crée ton Event!", new_event_path %> </a>
		</div>

  <% end %>
</form> -->


 <div class="form container">
	<%= form_tag url_for(action: 'create'), method: "post" do %>
		
		<div class="form-group">
		  <%= label_tag 'Date' %><br>
		  <%= date_field_tag 'start_date' %>
		  <br /> <br />
		</div>
		
		<div class="form-group">
		  <%= label_tag 'Durée' %><br>
		  <%= text_field_tag 'duration'%>
		  <br /> <br />
		</div>

		<div class="form-group">
		  <%= label_tag 'Title' %><br>
		  <%= text_field_tag 'title' %>
		  <br /> <br />
		</div>

		<div class="form-group">
		  <%= label_tag 'Description' %><br>
		  <%= text_field_tag 'description'%>
		  <br /> <br />
		</div>

		<div class="form-group">
		  <%= label_tag 'Prix' %><br>
		  <%= text_field_tag 'price' %>
		  <br /> <br />
		</div>

		<div class="form-group">
		  <%= label_tag 'Lieu' %><br>
		  <%= text_field_tag 'location'%>
		  <br /> <br />
		</div>


	  <%= submit_tag "Crée ton event" %>

	 <% end %>
 </div>